<dom-module id="cells-molecule-card-with-action-button-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  padding: 2rem;
  background-color: var(--cells-molecule-card-with-action-button-background, #EAF9FA);
  @apply (--cells-molecule-card-with-action-button); }

.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @apply (--cells-molecule-card-with-action-button-card); }
  .card--mobile {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    @apply (--cells-molecule-card-with-action-button-card--mobile); }
    .card--mobile .card__info {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0;
      @apply (--cells-molecule-card-with-action-button-card-info--mobile); }
    .card--mobile .card__item, .card--mobile .card__title {
      margin: 0 0 1rem 0;
      @apply (--cells-molecule-card-with-action-button-card-item-title--mobile); }
    .card--mobile .card__btn {
      margin: 0;
      @apply (--cells-molecule-card-with-action-button-card-btn--mobile); }
  .card__item {
    font-size: 1.5rem;
    font-weight: 300;
    @apply (--cells-molecule-card-with-action-button-item); }
  .card__title {
    margin: 0 2rem 0 0;
    @apply (--cells-molecule-card-with-action-button-title); }
  .card__btn {
    margin: 0 0 0 2rem;
    padding: 1rem;
    color: white;
    border: 0;
    background-color: var(--bbva-teal, #02A5A5);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    @apply (--cells-molecule-card-with-action-button-btn); }
  .card__info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    @apply (--cells-molecule-card-with-action-button-info); }

</style></template></dom-module>