<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-molecule-card-with-action-button-styles.html">
<link rel="import" href="../cells-atom-item-with-icon/cells-atom-item-with-icon.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">

<!--
`<cells-molecule-card-with-action-button>` description.

Example:

```html
<cells-molecule-card-with-action-button></cells-molecule-card-with-action-button>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-molecule-card-with-action-button-scope      | scope description | default value  |
| --cells-molecule-card-with-action-button  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-molecule-card-with-action-button">
  <template>
    <style include="cells-molecule-card-with-action-button-styles cells-molecule-card-with-action-button-shared-styles"></style>
    <iron-media-query query="[[mediaQuery]]" query-matches="{{isMobile}}"></iron-media-query>
    <div class$="card [[_checkedIsMobile(isMobile)]]">
      <span class="card__title" hidden$="[[!_checkedValue(title)]]">[[title]]</span>
      <div class="card__info">
        <template is="dom-repeat" items=[[items]]>
          <cells-atom-item-with-icon
            class="card__item"
            type="[[item.type]]"
            date="[[item.date]]"
            format-date="[[item.formatDate]]"
            amount="[[item.amount]]"
            number="[[item.number]]"
            text="[[item.text]]"
            currency-code="[[item.currencyCode]]"
            local-currency="[[item.localCurrency]]"
            description$="[[_translate(item.description, lang)]]"></cells-atom-item-with-icon>
        </template>
      </div>
      <button class="card-action card__btn"
        hidden$="[[!_checkedValue(buttonText)]]"
        on-click="onClickButton">[[buttonText]]</button>
    </div>
    <content></content>
  </template>
  <script src="cells-molecule-card-with-action-button.js"></script>
</dom-module>
