@import "bower_components/cells-sass/main";

:host {
  padding: 2rem;
  background-color: var(--cells-molecule-card-with-action-button-background, #EAF9FA);
  @apply(--cells-molecule-card-with-action-button);
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply(--cells-molecule-card-with-action-button-card);

  &--mobile{
    flex-direction: column;
    align-items: flex-start;
    @apply(--cells-molecule-card-with-action-button-card--mobile);

    .card__info{
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      @apply(--cells-molecule-card-with-action-button-card-info--mobile);
    }

    .card__item, .card__title{
      margin: 0 0 1rem 0;
      @apply(--cells-molecule-card-with-action-button-card-item-title--mobile);
    }

    .card__btn {
      margin: 0;
      @apply(--cells-molecule-card-with-action-button-card-btn--mobile);
    }
  }

  &__item{
    font-size: 1.5rem;
    font-weight: 300;
    @apply(--cells-molecule-card-with-action-button-item);
  }

  &__title{
    margin: 0 2rem 0 0;
    @apply(--cells-molecule-card-with-action-button-title);
  }

  &__btn{
    margin: 0 0 0 2rem;
    padding: 1rem;
    color: white;
    border: 0;
    background-color: var(--bbva-teal, #02A5A5);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    @apply(--cells-molecule-card-with-action-button-btn);
  }

  &__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    @apply(--cells-molecule-card-with-action-button-info);
  }
}
